@import "./var.scss";
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.container {
  margin: auto;
  max-width: 1110px;
}

.col-6 {
  @include fb(50%);
  padding: 0px 10px;
}

.col-6 {
  @include fb(25%);
  padding: 0px 10px;
}
